/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Styles */
body {
    background-color: #000;
    color: #ffffff;
    font-family: 'metropolis', sans-serif;
    margin: 0;
    overflow-x: hidden; /* Restrict horizontal overflow but allow vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Font Preload */
@font-face {
    font-family: 'metropolis-bold';
    src: url('./metropolis-bold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url('./metropolis.otf') format('opentype');
    font-display: swap;
}
