/* Input Field */
.input-field {
    font-family: 'metropolis', sans-serif;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #222222;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.input-field:focus {
    box-shadow: 0px 0px 10px rgba(0, 30, 30, 0.6);
    transform: scale(1.02);
}

/* Caption */
.caption {
    font-size: 0.8em;
    color: #888;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3px;
    animation: fadeIn var(--fadeIn-duration) ease forwards;
    animation-delay: 0.5s;
}

/* Response Output */
#responseOutput {
    color: #DBFF9E;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
